/* .table {
    min-height:400px

} */
/* #mainColumn {
  margin-left: auto;
  margin-right: auto;
  /* width: 73.33333333%; */
  .nav-links a:hover {
      color: hsl(180,100%,50%);
      transition: ease;
  }

#calendar {
  padding: 10px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#leweWyszukiwanie{
  float: left;
  /* border-left:2px solid black; */
}

#praweWyszukiwanie{

  float: right;
  /* border-left:2px solid black; */

}
#header {
  padding: 30px;
}


.navbar {
  background-color: black;
  font;
}

#contentBox {

  min-height: 1080px;
  margin-left: : 250px;
  margin-right: : 250px;


}

#boxLarge {
  min-height: 1000px;

}

.page-content {

  min-height: 900px;
  background-image:url("/img/back.jpg");
}

.table>thead {
  background-color: grey;
  color: white;


}

.table>th {
  height: 20px;



}

/* #tabelaAdmin>table, th,thead, td{
border: 1px solid black;
} */
.table {
  /* border: 3px solid black; */
  overflow-y:scroll;
}
/* .panel-body {
  border: 1px solid black;
} */
html {

}
